gaia_source/
gaia_bork/
gaia_source_partial/
gaia_source_rv/
gaia_bork_rv/
found-pairs-*
query-result-*
comoving-groups-*
db-*
*.db
*.db-journal
.vs/
*.raw_db
columns
columns_data_types
metadata
db_gaia_dr2*
__pycache__
*.iso.cmd
*.iso
temp/
galah_sids.txt
*.cms
db_*
galah_*csv
*.csv